.caixa1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.caixa1 > div{
    background-color: blue;
    border: solid 2px;
    margin: 1%;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}
.caixa1 #div1{
    background-color:red;
    height: 100vh;
    line-height: 620px;
    align-items: stretch;
}