
.caixa1{
    display: flex;
    justify-items: flex-end;
    flex-direction: row-reverse;
}

.caixa1 > div{
    background-color: blue;
    border: solid 2px;
    margin: 1%;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}

